.vh-100{
    background: url(https://www.xmple.com/wallpaper/white-gradient-blue-linear-1920x1080-c2-87cefa-ffffff-a-90-f-14.svg);
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
#logo{
    height: 3em;
    width: 6em;
}
